.blogs_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .blog_item{
    width: 200px;
    height: 240px;
    padding: 5px 0;
    .blog_title{
      display: inline-block;
      height: 50px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: normal;
    }
    .blog_description{
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      @media screen and (min-width: 824px) {
        width: 175px;
      }
      //点赞数
      & > div:nth-child(1){
        //width: 70%;
        span{
          margin-right: 5px;
          display: inline-block;
        }
      }
      //距离时间
      & > div:nth-child(2){
        @media screen and (max-width: 824px){
          display: none;
        }
      }
    }
    @media screen and (max-width: 824px){
      width: 30%;
      height: auto;
    }
    @media screen and (max-width: 624px){
      width: 49%;
    }
  }
}