.blog-card{
  .ant-card-head-title{
    color: #595959;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1000px){
    & > .ant-card-head{
      padding: 0;
    }
    & > .ant-card-body{
      padding: 10px 0 !important;
    }
    //头部标题 出色 竞赛 经典
    .ant-card-head-title{
      font-size: 30px;
      button{
        width: 40px;
        height: 40px;
        .anticon{
          font-size: 40px;
          margin-left: 10px;
        }
      }
    }
  }
  //手机端头部标题
  @media screen and (max-width: 900px) {
    .ant-card-head-title{
      font-size: 20px;
      button{
        width: 40px;
        height: 40px;
        .anticon{
          font-size: 20px;
        }
      }
    }
  }
}
.blog-drop-down{
  top: 70px !important;
  .blog-menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 700px;
    @media screen and (max-width: 900px) {
      width: 80vw;
    }
    height: auto;
    box-shadow: 4px 4px 10px -6px #595959;
    user-select: none;
    .blog-menu-item{
      padding: 5px 6px;
      font-size: 20px;
      color: #8c8c8c;
      cursor: pointer;
      transition: color ease-in-out 0.2s;
      &:hover{
        color: #434343;
      }
    }
  }
}

