.custom_page_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .custom_page_item{
    cursor: pointer;
    margin: 5px 0;
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}