.news_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .news_item{
    width: 200px;
    height: 390px;
    padding: 5px 0;
    .news_description_container{
      .news_content{
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .news_info{
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    @media screen and (max-width: 824px){
      width: 32%;
      height: auto;
    }
    @media screen and (max-width: 624px){
      flex-direction: column;
      width: 100%;
    }
  }
}