//博客预览下的图片样式
.ubb-img{
  .ubb-img-container{
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
    //max-height: 506.25px;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  //新文章图片格式
  //& > img {
  //  width: 100%;
  //  object-fit: contain;
  //}
}
